#SPDX-License-Identifier: MIT-0
---
# handlers file for serversetup
- name: Recreate app container
  community.docker.docker_container:
    name: appcontainer
    image: "{{ imageName }}:{{ tagName }}"
    state: started
    restart_policy: always
    ports:
      - "8000:8000"
    image_name_mismatch: recreate

- name: Remove earlier image
  community.docker.docker_image_remove:
    name: "{{ imageName }}:{{ tagName | int - 1 }}"