#SPDX-License-Identifier: MIT-0
---
# handlers file for serversetup
- name: Recreate app container
  community.docker.docker_container:
    name: appcontainer
    image: "{{ imageName }}:{{ tagName }}"
    state: started
    restart_policy: always
    ports:
      - "8000:8000"
    recreate: true
    image_name_mismatch: recreate

- name: Prune everything
  community.docker.docker_prune:
    containers: true
    images: true
    networks: true
    volumes: true
    builder_cache: true