#SPDX-License-Identifier: MIT-0
---
# handlers file for serversetup
- name: Recreate app container
  community.docker.docker_container:
    name: appcontainer
    image: "{{ imageName }}:{{ tagName }}"
    state: started
    recreate: true
    restart_policy: always
    ports:
      - "8000:8000"