{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="about-us">
  <div class="container">
    
    <div class="row">
      <div class="col-md-6">
        <div class="columns"><h1>About Us</h1>
          <p>Welcome to TT Furniture, your premier destination for high-quality furniture. With over 20 years of experience in the industry, we are dedicated to providing exceptional furniture pieces that transform your living spaces.</p>

          <h2>Our Mission</h2>
          <p>At TT Furniture, our mission is to create furniture that combines aesthetic appeal with functionality. We strive to offer a wide range of styles, from modern and contemporary to traditional and timeless, ensuring that every customer finds the perfect piece to suit their taste and lifestyle.</p>

          <h2>Quality Craftsmanship</h2>
          <p>We take pride in our commitment to craftsmanship and use only the finest materials to create durable and long-lasting furniture. Our skilled artisans pay meticulous attention to detail, ensuring that every piece is beautifully constructed and finished.</p>

          <h2>Exceptional Customer Service</h2>
          <p>Customer satisfaction is our top priority. Our knowledgeable and friendly staff are here to assist you throughout your furniture shopping experience, from helping you select the right pieces to offering design advice and after-sales support.</p>

        </div>
      </div>
      <div class="col-md-6">
        <div class="column">
          <figure class="figure">
            <img src="https://i.ibb.co/vY0wM9R/ll.jpg" alt="" class="img-fluid">
            

            <figcaption class="figure-caption" align="center">Head of TT furniture</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
