{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="contact">
    <div class="container">
        <h2>Contact Us</h2>
        <div class="row">
            <div class="col-md-6">
            <div class="column">
                <p>If you have any questions, feedback, or inquiries, please don't hesitate to reach out to us. You can contact our customer service team via phone or email, and we'll be happy to assist you.</p>
                <p><B>Phone:</B> 123-456-7890</p>
                <p ><b> Email:</b> info@ttfurniture.com</p>
                <h2>Visit Our Showroom</h2>
          <p>We invite you to visit our showroom to explore our extensive collection of furniture. See and feel the quality of our products firsthand and let our team guide you in finding the perfect furniture solutions for your home or office.</p>
            </div>
            </div>
            <div class="col-md-6"> 
                <div class="column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d883.4466199515293!2d85.38539872699856!3d27.66207710324623!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1b4e207676bd%3A0x951f34a4c6ce7d4e!2schameli%20kirana%20store!5e0!3m2!1sen!2snp!4v1685895651810!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    
                  </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
